#Pc
	.container
		.stats
			h3 Stats
			table: tr(ng-repeat="stat in userData.stats | toStatArray")
				td {{stat.name | fullStatName}}:
				td
					input(type="number"
						mask="99"
						restrict="reject"
						ng-model="$parent.userData.stats[stat.name]"
						ng-change="saveUserData()"
					)

		.inventory
			h3 Inventory

			angucomplete-alt#AddToInventory(
				local-data="allItems"
				selected-object="addNewItem"
				title-field="name"
				search-fields="name"
				clear-selected=true
				placeholder="Add item..."
				minlength=1
			)

			angucomplete-alt#AddArmorSet(
				local-data="armorSets"
				selected-object="addArmorSet"
				title-field="name"
				search-fields="name"
				clear-selected="true"
				placeholder="Add armor set..."
				minlength=1
			)

			.stretcher
				// Grid
				div(ui-grid="gridOptions" ui-grid-auto-resize ui-grid-save-state)

// Grid action buttons
script(id="GridRowHeader.html" type="text/ng-template")
	button(ng-click="grid.appScope.add(row.entity)")
		| +

	button(
		ng-click="grid.appScope.upgrade(row.entity)"
		title="Upgrade"
		ng-disabled="!(row.entity.canBeUpgraded)"
		) ⇈

	button(ng-click="grid.appScope.remove(row.entity)")
		| −