#WeaponFinder
	.params
		fieldset
			legend
				span(title="Stats to use when looking at weapon requirements and calculating ATK bonuses.")
					| Stats
				label
					span &nbsp;(
					input(type="checkbox" ng-model="params.usePlayers")
					span use player's)

			.limits
				label.row(ng-repeat="name in statArray")
					span {{name | statName}}:
					input(
						type="number" ng-model="$parent.params.reqLimits[$index]" min=8 max=99
						ng-disabled="params.usePlayers"
					)

		fieldset
			legend Offense importance
			.modifiers.atk
				.column
					label.row(ng-repeat="mod in [0, 1, 2, 3]")
						span {{atkNames[mod]}}:
						input(type="number" ng-model="$parent.params.modifiers.atk[mod]")
				//
					.column
						label.row(ng-repeat="mod in [4, 5, 6, 7]")
							span {{atkNames[mod]}}:
							input(type="number" ng-model="$parent.params.modifiers.atk[mod]")

		fieldset
			legend Defense importance
			.modifiers.def
				.column
					label.row(ng-repeat="mod in [0, 1, 2, 3]")
						span {{defNames[mod]}}:
						input(type="number" ng-model="$parent.params.modifiers.def[mod]")
				//
					.column
						label.row(ng-repeat="mod in [4, 5, 6, 7]")
							span {{defNames[mod]}}:
							input(type="number" ng-model="$parent.params.modifiers.def[mod]")

		fieldset
			legend Miscellaneous
			.misc
				.row
					label
						input(type="checkbox" ng-model="params.includeUpgrades")
						span Include available upgrades

				.row
					label(title="Check to sort by damage-per-stamina before sorting by ATK, and choose which attack's DPS to use.")
						input(type="checkbox" ng-model="params.useDps")
						span DPS attack:
					select(
						ng-model="params.dpsCalcMove"
						ng-options="dpsCalcOptions.indexOf(label) as label for label in dpsCalcOptions"
						ng-disabled="!params.useDps"
					)

	button.row(ng-click="findWeapons()")
		| Find and sort
		select(
			ng-click="$event.stopPropagation()"
			ng-model="params"
			ng-options="paramSet as paramSetNames[paramSets.indexOf(paramSet)] for paramSet in paramSets"
		)

	div(ui-grid-auto-resize ui-grid="gridOptions")