doctype html
html(ng-app="dsc")
	head
		meta(charset="UTF-8")
		link(rel="icon" type="image/png" href="/app/content/main-icon.png")
		title Dark Souls Companion

		// Angular core modules

		script(src="libs/angular/angular.min.js")
		script(src="libs/angular/angular-resource.min.js")
		script(src="libs/angular/angular-route.min.js")

		//Angular third-party components

		script(src="libs/angular/angular-local-storage.min.js")

		link(rel="stylesheet" href="libs/ui-grid/ui-grid-unstable.min.css")
		script(src="libs/ui-grid/ui-grid-unstable.min.js")

		script(src="libs/angucomplete-alt/angucomplete-alt.min.js")
		link(rel="stylesheet" href="libs/angucomplete-alt/angucomplete-alt.css")

		script(src="libs/angular-mask/ngMask.js")

		// My stuff

		link(rel="stylesheet" href="style.css")
		script(src="app.js")

body(ng-controller="mainController")
	#Notifications(ng-if="$root.notificationLog.length > 0")
		button(
			ng-click="dismissNotifications()"
		)
			| Dismiss all
		br
		ul: li(
			ng-repeat="message in $root.notificationLog"
			ng-class="message.type"
			ng-bind-html="message.text"
		)
	header
		h1 Dark Souls Companion
		h2
			label
				| Profile:
				select(
					ng-model="currentProfile"
					ng-options="profile for profile in profileList"
					ng-change="switchProfile()"
				)

			input(
				type="text"
				ng-model="$parent.newProfileName"
				ng-if="profileEditStatus === 'new'"
			)

			button(
				ng-click="addNewProfile()"
				ng-if="profileEditStatus == null || profileEditStatus == 'new'"
			) +

			button(ng-click="deleteProfile()"
				ng-if="profileEditStatus == null || profileEditStatus == 'delete'"
			) −

			button(
				ng-click="resetProfileEditStatus()"
				ng-if="profileEditStatus != null"
			) Cancel

	nav
		ul
			li(ng-repeat="item in menu" ng-class="{current: $parent.thisLocation.indexOf(item.path)==0}")
				a(href="#{{item.path}}")
					img(ng-src="/app/content/menu-icons/{{item.path}}.png")
					| {{item.name}}

	main(ng-view)

	footer
		| v0.1, made by&nbsp;
		a(href="http://modo.lv") MoDo.lv